# macOS
.DS_Store

# Xcode user state
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Xcode build outputs
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Editor
.vscode/
.idea/

# Logs
*.log

